.App {
  text-align: center;
  margin-top: 50px;
}

input {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.weather-info {
  margin-top: 50px;
}

.weather-info h2 {
  margin-bottom: 20px;
}

.weather-info p {
  margin: 10px 0;
}

.weather-info img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}